# really old directories
OLDpy
Q0
Q0b
Q1
Q2
Q3
Q4
hl
logs

# data directories from simulations, way too big to check in
hl
hl2018*
hl2019*

# files to ignore everywhere
*.zip
*.tmp
*.pyc
*.bak
*.wbk
*.cmds
*logs*.zip

# 
articles
test
tmp

# moldy, old results and instructions
results
searchspacedb

# but please backup any valid data anywhere
!GiantOutput*

# orphans from old instructions
*.big
*.toobig

# R Studio detritus
*.RData
*.Rhistory

# leftovers from Mac
baseline/.DS_Store
PaperDraft/.DS_Store
scaling/docsize/.Rapp.history
scaling/.DS_Store
.DS_Store
**/.DS_Store
shocks/compare/.Rapp.history
