OLDpy
Q0
Q0b
Q1
Q2
Q3
Q4
hl
logs
*.zip
*.tmp
*.pyc
*.bak
*.wbk
*.cmds
articles
test
tmp
results
searchspacedb

*.big
*.toobig
*.RData
*.Rhistory

baseline/.DS_Store
baseline/.DS_Store
PaperDraft/.DS_Store
scaling/docsize/.Rapp.history
scaling/.DS_Store
baseline/.DS_Store
baseline/.DS_Store
baseline/.DS_Store
baseline/.DS_Store
.DS_Store
