<!-- brokergroup_setupform_done.j2 -->

<h1>PreservationSimulation Setup results</h1>

<table cellpadding="8", border="1">
    <tr>
        <td>
            FamilyDir
        </td>
        <td>
            {{sFamilyDir}}
        </td>
        <td></td>
    </tr>
    <tr>
        <td>
            SpecificDir
        </td>
        <td>
            {{sSpecificDir}}
        </td>
        <td>{{sResultSetupDirs}}</td>
    </tr>
    <tr>
        <td>
            Clear directory files?
        </td>
        <td>
            {{bClearDirs}}
        </td>
        <td>{{sResultClearDirs}}</td>
    </tr>
    <tr>
        <td>
            Clear done records?
        </td>
        <td>
            {{bClearDone}}
        </td>
        <td>{{sResultClearDone}}</td>
    </tr>
</table>

<h2>ACTION:    {{sAction}}</h2>

<p>Message: {{msg}}</p>

<p>&nbsp;</p>
<center>
    <a href="../mainsim">Return to main page</a>
</center>
<p>&nbsp;</p>

