<!-- d5insert.j2 -->
{%extends "d5base.htm"%}

{%macro foo(dat) -%}
    macrovarname = {{dat.varname}}
    macrovarhead = {{dat.varhead}}
{%- endmacro%}


{% block child1 -%}
    CHILD1: IN BLOCK
    {{foo(allvars.Var1)}}
    CHILD1: ENDBLOCK
{%endblock child1%}

{% block child2 -%}
    CHILD2: IN BLOCK
    {{foo(allvars.Var2)}}
    CHILD2: ENDBLOCK
{%endblock child2%}


