<!-- brokergroup_form_insert.j2 file -->
{% extends "./brokergroup_form_base.tpl " %}

{# Macro to insert 2x1 table element for var, 
    top for heading, bottom for values. #}
{% macro insertmyvar(data) %}    
    <td>
        <table>
            <tr><td>
                <b>{{data.heading}}</b>
            </td></tr>
            <tr><td>
                <select name="{{data.varname}}">
    {% for item in data.lValueList %}
                <option value="{{ item.value }}"{% if item.selected != '0' %} selected{%endif%}>&nbsp;&nbsp;{{item.label}}&nbsp;</option>
    {% endfor %}
                </select>
            </td></tr>
        </table>
    </td>
{% endmacro %}

{% macro inserttextvar(name, size, value="") %}
    <input type="text" name={{name}} size="{{size}}" value={{value}}>
{%endmacro%}

{% macro insertcheckvar(name, value="") %}
    <input type="checkbox" name={{name}} value={{value}}>
{%endmacro%}


{% block CHILD -%}
{% for varname1, vardict1 in dVars.iteritems() %}
    {% set varname = varname1 %}
    {% set vardict = vardict1 %}
    {% set data = vardict1 %}

    {% if varname == "nAuditFreq" %}
        {% block nAuditFreq scoped %}
            {{insertmyvar(vardict)}}
        {% endblock %}

    {% elif varname == "nAuditSegments" %}
        {% block nAuditSegments scoped %}
            {{insertmyvar(vardict)}}
        {% endblock %}

    {% if varname == "nAuditType" %}
        {% block nAuditType scoped %}
            {{insertmyvar(vardict)}}
        {% endblock %}

    {% elif varname == "nCopies" %}  
        {% block nCopies scoped %}
           {{insertmyvar(vardict)}}
        {% endblock %}

    {% elif varname == "nDocSize" %}
        {% block nDocSize scoped %}
            {{insertmyvar(vardict)}}
        {% endblock %}

    {% elif varname == "nGlitchDecay" %}
        {% block nGlitchDecay scoped %}
            {{insertmyvar(vardict)}}
        {% endblock %}

    {% elif varname == "nGlitchFreq" %}
        {% block nGlitchFreq scoped %}
            {{insertmyvar(vardict)}}
        {% endblock %}

    {% elif varname == "nGlitchIgnorelevel" %}
        {% block nGlitchIgnorelevel scoped %}
            {{insertmyvar(vardict)}}
        {% endblock %}

    {% elif varname == "nGlitchImpact" %}
        {% block nGlitchImpact scoped %}
            {{insertmyvar(vardict)}}
        {% endblock %}

    {% elif varname == "nGlitchMaxlife" %}
        {% block nGlitchMaxlife scoped %}
            {{insertmyvar(vardict)}}
        {% endblock %}

    {% elif varname == "nGlitchSpan" %}
        {% block nGlitchSpan scoped %}
            {{insertmyvar(vardict)}}
        {% endblock %}

    {% elif varname == "nLifem" %}  
        {% block nLifem scoped %}
           {{insertmyvar(vardict)}}
        {% endblock %}

    {% elif varname == "nSeeds" %}  
        {% block nSeeds scoped %}
           {{insertmyvar(vardict)}}
        {% endblock %}

    {% elif varname == "nServerDefaultLife" %}  
        {% block nServerDefaultLife scoped %}
           {{insertmyvar(vardict)}}
        {% endblock %}

    {% elif varname == "nShelfSize" %}  
        {% block nShelfSize scoped %}
           {{insertmyvar(vardict)}}
        {% endblock %}

    {% elif varname == "nShockImpact" %}  
        {% block nShockImpact scoped %}
           {{insertmyvar(vardict)}}
        {% endblock %}

    {% elif varname == "nShockMaxlife" %}  
        {% block nShockMaxlife scoped %}
           {{insertmyvar(vardict)}}
        {% endblock %}

    {% elif varname == "nShockFreq" %}  
        {% block nShockFreq scoped %}
           {{insertmyvar(vardict)}}
        {% endblock %}

    {% elif varname == "nShockSpan" %}  
        {% block nShockSpan scoped %}
           {{insertmyvar(vardict)}}
        {% endblock %}

    {% elif varname == "nSimlen" %}  
        {% block nSimlen scoped %}
           {{insertmyvar(vardict)}}
        {% endblock %}

    {% elif varname == "sDatabaseName" %}  
        {% block sDatabaseName scoped %}
           {{insertmyvar(vardict)}}
        {% endblock %}

    {% elif varname == "sFamilyDir" %}  
        {% block sFamilyDir scoped %}
           {{insertmyvar(vardict)}}
        {% endblock %}

    {% elif varname == "sSpecificDir" %}  
        {% block sSpecificDir scoped %}
           {{insertmyvar(vardict)}}
        {% endblock %}

    {% else %} ERROR: Unknown variable name {{varname}}

    {% endif %}

{% endfor %}
{%- endblock CHILD%}

{%block ignoreme1%}
-----------------------------
master

table structure just for placement, no var content

tr
block name1
block name2
block name3
/tr
five trs
22 tds

child

huge child block containing 
    block name1
        content, trs, tds, substitutions
    block name2
        similar content but different vars
    22 of these

each block called with a different dict containing name, head, list

this requires a factory, i think

for eachstuff in full context
    get eachstuff.name
    if name == something
        define the block for that name

    if name == name1
        block name1
    elif name == name2
        block name2
    etc.
    else
        skip unknown varname

this repeated stuff inside each block is where the macro is handy.

nAuditSegments
nDocSize

nGlitchDecay
nGlitchFreq
nGlitchIgnorelevel
nGlitchImpact
nGlitchMaxlife
nGlitchSpan
nLifem

nServerDefaultLife
nShelfSize
nShockImpact
nShockMaxlife
nShockFreq
nShockSpan
nSimlen

{%endblock%}
